.nav__body{
  flex-direction: row;
}

.nav__item{
  flex-grow: 1;
  margin-bottom: auto;
  border-left: 1px dashed var(--mainColor);
}

.btn--chart{
  margin: 2rem;
  padding: 2rem;
}
.btn--chartMenu{
  margin: 1rem;
}

.section__ly1{
  padding: 1rem ;
  margin-bottom: 2rem;
}

.container{
  margin-bottom: 2rem;
}
.newOpMainContainer{
  margin-bottom: auto;
}