.navToggler{
  display: none;
}

.nav__body{
  position: static;
  display: flex;
  flex-direction: row;
  overflow-y: visible;
  max-height: var(--headerHeight);
}

.nav__item{
  border-left: 1px dashed var(--mainColor);
}

.lang__title{
  max-height: 100%;
}
.lang__items{
  padding: .2rem;
  background-color: var(--secondColor);
}


.main{
  padding-top: 0;
  margin-top: var(--headerHeight);
  margin-bottom: var(--footerHeight);
  min-height: calc(100vh - var(--headerHeight) - var(--footerHeight));
}
.footer{
  position: fixed;
}

.section{
  position: relative;
  flex-direction: row;
  --section1Width: 360px;
}
.section__ly{
  padding-top: 1rem;
}
.section__ly1{
  position: sticky;
  top: calc(var(--headerHeight));
  width: 30%;
  min-width: var(--section1Width);
  max-height: calc(100vh - var(--headerHeight) - var(--footerHeight));
  justify-content: space-evenly;
  text-shadow: .05em .05em .1em var(--mainColor);
  overflow-y: auto;
}
.section__ly2{
  width: 70%;
  max-width: calc(100% - var(--section1Width));
}
.section__ly1::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url("../Sources/Images/seamLessTexture.jpg");
  filter: saturate(0);
  -webkit-filter: saturate(0);
}
.section__ly1::after{
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(var(--color1), var(--color2));
  filter: opacity(.75) saturate(1.25);
  -webkit-filter: opacity(.75) saturate(1.25);
}

.tableContainer{
  overflow: auto;
}
.opsTable{
  text-shadow: none;
}
.opsTable__body{
  background-color: var(--mainColor);
}

.btn--chart{
  margin: 2rem;
  padding: 2rem;
}