*, *::before, *::after{
  box-sizing: border-box;
}

:root{
  --themeColor1: #a0a0a0;
  --themeColor2: #101010;
  --themeColor3: #00c000;
  --themeColor4: #c00000;

  --mainColor: var(--themeColor1);
  --secondColor: var(--themeColor2);
  --color1: var(--themeColor3);
  --color2: var(--themeColor4);
  --color3: var(--themeColor5);
  --transition: color .1s, background-color .2s ease-in-out;

  --headerHeight: 3rem;
  --footerHeight: 3rem;
}




/* Layout Styles */
body, .header, .footer{
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

body{
  font-size: 16px;
  background-color: var(--mainColor);
  color: var(--secondColor);
}

h1, h2, h3, h4{
  margin: .5rem 0;
  line-height: 1.15em;
}

p{
  margin: .5rem;
  padding: 0 .5rem;
}

.header, .footer{
  position: fixed;
  left: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  background-color: var(--secondColor);
  color: var(--mainColor);
}

.header{
  top: 0;
  height: var(--headerHeight);
  justify-content: space-between;
  align-items: center;
}

.footer{
  position: static;
  bottom: 0;
  height: var(--footerHeight);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main{
  display: flex;
  padding-top: var(--headerHeight);
  min-height: calc(100vh - var(--headerHeight));
}

.section{
  width: 100%;
  flex-direction: column;
}

.section__ly{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.section__ly1{
  position: relative;
  text-shadow: .05em .05em .1em var(--mainColor);
}
.section__ly2{
  flex-grow: 1;
  justify-content: center;
}

.subLy{
  flex-grow: 1;
  flex-wrap: wrap;
  align-content: space-evenly;
  justify-content: space-evenly;
}

.section__ly1::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url("../Sources/Images/seamLessTexture.jpg");
  filter: saturate(0);
  -webkit-filter: saturate(0);
}
.section__ly1::after{
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(var(--color1), var(--color2));
  filter: opacity(.75) saturate(1.25);
  -webkit-filter: opacity(.75) saturate(1.25);
}




/* Web Modifier styles */
.display--f{ display: flex;}
.display--n{ display: none;}




/* Web Styles */
.logo{
  display: flex;
  align-items: center;
  height: 100%;
}
.logo__icon{
  max-height: 100%;
  padding: 4%;
}
.logo__text{
  margin: 0;
  font-size: 1.75rem;
  white-space: nowrap;
}

.btn{
  margin: .2rem;
  padding: .8em;
  cursor: pointer;
  background-color: var(--mainColor);
  color: var(--secondColor);
  border: none;
  border-radius: .2em;
  -webkit-border-radius: .2rem;
  -moz-border-radius: .2rem;
  -ms-border-radius: .2rem;
  -o-border-radius: .2rem;
}
.btn--dark{
  background-color: var(--secondColor);
  color: var(--mainColor);
}
.btn--chart{
  margin: 1rem 1rem;
  border-radius: .4em;
  -webkit-border-radius: .4em;
  -moz-border-radius: .4em;
  -ms-border-radius: .4em;
  -o-border-radius: .4em;
}
.btn--deleteData:hover{
  color: var(--color2);
  box-shadow: .1em .1em .2em var(--color2);
}

.section__title, .section__subTitle{
  text-align: center;
}


.cardsContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto 0;
}

.card{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 45%;
  min-width: 300px;
  max-width: 360px;
  text-align: center;
  outline: 2px solid var(--secondColor);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  overflow: hidden;
}
.card__aside{
  display: flex;
  justify-content: center;
  padding: .4rem;
  background: linear-gradient(var(--color1), var(--color2));
}
.card__footer{
  margin-top: auto;
}
.btn--card{
  margin-bottom: 1rem;
  min-width: 33%;
}


.container, .subContainer{
  width: 95%;
  margin: 0 auto 1rem;
  min-width: 320px;
  border: 2px solid var(--secondColor);
  border-radius: .8rem;
  -webkit-border-radius: .8rem;
  -moz-border-radius: .8rem;
  -ms-border-radius: .8rem;
  -o-border-radius: .8rem;
  overflow: hidden;
}
.container{
  box-shadow: .2rem .2rem .4rem var(--secondColor);
}
.subContainer{
  display: flex;
  flex-direction: column;
  min-width: 300px;
  border: 2px dashed var(--secondColor);
}
.container__header, .subContainer__header{
  width: 100%;
  padding: .5rem;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  background-color: var(--secondColor);
  color: var(--mainColor);
}
.subContainer__body{
  margin-top: auto;
  display: flex;
  flex-direction: column;
}
.subContainer__footer{
  text-align: center;
  margin-bottom: .5rem;
}

.containerButtons{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: .5rem;
}

.containerColors{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.color{
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: .5rem;
}
.customColor{
  box-shadow: .1em .1em .1em var(--secondColor);
  border: none;
}


.newOpContainer{
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  text-shadow: none;
  background-color: var(--mainColor);
}

.newOpMainContainer{
  max-width: 360px;
  overflow-y: auto;
  margin: auto;
  border-color: var(--secondColor);
  background-color: var(--mainColor);
  box-shadow:
  .4rem .4rem 1rem var(--color2),
  -.4rem -.4rem 1rem var(--color1);
}

.newOpcontainer__container{
  flex-wrap: wrap;
  padding: 0 .4rem 0;
}

.newOp__item, .newOp__item--pnl{
  margin: 0 0 .8rem;
  padding: .4rem;
  border: none;
  color: var(--mainColor);
  background-color: var(--secondColor);
  border-radius: .4rem;
  -webkit-border-radius: .4rem;
  -moz-border-radius: .4rem;
  -ms-border-radius: .4rem;
  -o-border-radius: .4rem;
  color-scheme: dark;
}
.newOp__item::placeholder{
  color: currentColor;
}


.chartsContainer{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.chartsContainer__container{
  width: 45%;
  margin: .2rem .2rem 1rem;
  min-width: 200px;
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 90%;
}
.chart{
  /* width: 100%; */
  /* width: 100% !important; */
  min-width: 100%;
  max-width: 100%;
  height: auto !important;
}


.excelInput__label{
  display: inline-block;
  text-align: center;
}

.nav__body{
  position: fixed;
  top: var(--headerHeight);
  right: 0;
  width: 100%;
  height: calc(100vh - var(--headerHeight));
  flex-direction: column;
  overflow-y: auto;
  background-color: var(--mainColor);
}
.nav__item{
  padding: 1rem;
  margin: 0;
  text-align: center;
  color: var(--mainColor);
  background-color: var(--secondColor);
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.lang{
  padding: 0;
  background-color: var(--secondColor);
}
.lang__title{
  padding: 1rem;
  list-style: none;
}
.lang__item{
  margin: .2rem;
}


.tableContainer{
  /* display: flex; */
  /* justify-content: center; */
  max-width: 100%;
  overflow-x: auto;
}

.opsTable{
  position: relative;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  text-shadow: none;
}
.caption{
  padding: .4rem;
  color: var(--mainColor);
  background-color: var(--secondColor);
  border-bottom: 1px dashed var(--mainColor);
}
.thead{
  position: sticky;
  top: 0;
  color: var(--mainColor);
  background-color: var(--secondColor);
}
.opsTable__body{
  background-color: var(--mainColor);
}
.tr{
  border-bottom: 1px solid var(--secondColor);
}
.th, .td{
  padding: .4rem .2rem;
}