*, *::before, *::after{
  box-sizing: border-box;
}

:root{
  --mainColor: #808080;
  --secondColor: #202020;
  --color1: #00C000;
  --color2: #C00000;
  --color3: #c0c0c0;
  --transition: color .1s, background-color .2s ease-in-out;
  
  --headerHeight: 3rem;
  --footerHeight: 3rem;
}




/* Layout Styles */
body, .header, .footer{
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

body{
  background-color: var(--mainColor);
  color: var(--secondColor);
}

.header, .footer{
  position: fixed;
  left: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  background-color: var(--secondColor);
  color: var(--mainColor);
}

.header{
  top: 0;
  height: var(--headerHeight);
  justify-content: space-between;
  align-items: center;
}

.footer{
  bottom: 0;
  height: var(--footerHeight);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main{
  display: flex;
  min-height: 100vh;
  padding-top: var(--headerHeight);
  padding-bottom: var(--footerHeight);
}




/* Web Styles */
.logo{
  display: flex;
  align-items: center;
  height: 100%;
}
.logo__icon{
  max-height: 100%;
  padding: 4%;
}
.logo__text{
  font-size: 1.75rem;
}