*, *::before, *::after{
  box-sizing: border-box;
}

:root{
  --themeColor1: #808080;
  --themeColor2: #101010;
  --themeColor3: #00C000;
  --themeColor4: #C00000;
  --themeColor5: #c0c0c0;



  --mainColor: var(--themeColor1);
  --secondColor: var(--themeColor2);
  --color1: var(--themeColor3);
  --color2: var(--themeColor4);
  --color3: var(--themeColor5);
  --transition: color .1s, background-color .2s ease-in-out;

  --headerHeight: 3rem;
  --footerHeight: 3rem;
}




/* Layout Styles */
body, .header, .footer{
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

body{
  background-color: var(--mainColor);
  color: var(--secondColor);
}

h1, h2, h3, h4{
  margin: .5rem 0;
}

p{
  margin: .5rem;
  padding: 0 .5rem;
}

.header, .footer{
  position: fixed;
  left: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  background-color: var(--secondColor);
  color: var(--mainColor);
}

.header{
  top: 0;
  height: var(--headerHeight);
  justify-content: space-between;
  align-items: center;
}

.footer{
  position: static;
  bottom: 0;
  height: var(--footerHeight);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main{
  display: flex;
  padding-top: var(--headerHeight);
  min-height: calc(100vh - var(--footerHeight));
}

.section{
  width: 100%;
  flex-direction: column;
}

.section__ly{
  display: flex;
  flex-direction: column;
}




/* Web Modifier styles */
.display--f{ display: flex;}
.display--n{ display: none;}




/* Web Styles */
.logo{
  display: flex;
  align-items: center;
  height: 100%;
}
.logo__icon{
  max-height: 100%;
  padding: 4%;
}
.logo__text{
  margin: 0;
  font-size: 1.75rem;
}

.btn{
  margin: .2rem;
  padding: .8em;
  cursor: pointer;
  background-color: var(--mainColor);
  color: var(--secondColor);
  border: none;
  border-radius: .2em;
  -webkit-border-radius: .2rem;
  -moz-border-radius: .2rem;
  -ms-border-radius: .2rem;
  -o-border-radius: .2rem;
}
.btn--dark{
  background-color: var(--secondColor);
  color: var(--mainColor);
}

.section__title, .section__subTitle{
  text-align: center;
}


.cardsContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  min-width: 300px;
  max-width: 30%;
  text-align: center;
  outline: 2px solid var(--secondColor);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  overflow: hidden;
}
.card__aside{
  display: flex;
  justify-content: center;
  padding: .4rem;
  background: linear-gradient(var(--color1), var(--color2));
}
.card__footer{
  margin-top: auto;
}
.btn--card{
  margin-bottom: 1rem;
  min-width: 33%;
}


.container, .subContainer{
  margin: 0 .4rem 1rem;
  border: 2px solid var(--secondColor);
}
.subContainer{
  width: 90%;
  min-width: 300px;
  margin: 0 auto 1rem;
  border: 2px dashed var(--secondColor);
}
.container__header, .subContainer__header{
  padding: .5rem;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  background-color: var(--secondColor);
  color: var(--mainColor);
}
.subContainer__body{
  display: flex;
  flex-direction: column;
}
.subContainer__footer{
  text-align: center;
  margin-bottom: .5rem;
}

.containerThemeButtons{
  display: flex;
  justify-content: space-around;
  margin-bottom: .5rem;
}

.containerColors{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.color{
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: .5rem;
}
.customColor{
  box-shadow: .1em .1em .1em var(--secondColor);
  border: none;
}


.excelInput{
  display: none;
}
.excelInput__label{
  display: inline-block;
  text-align: center;
}




/* Responsive LowResolution */
.nav__body{
  position: fixed;
  top: var(--headerHeight);
  right: 0;
  width: 100%;
  flex-direction: column;
  max-height: calc(100vh - var(--headerHeight));
  overflow-y: auto;
}

.nav__item{
  padding: 1rem;
  margin: 0;
  text-align: center;
  background-color: var(--secondColor);
  color: var(--mainColor);
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.language{
  list-style: none;
}